<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
			<!-- #section:basics/sidebar -->
			<div id="sidebar" class="sidebar responsive"  th:fragment="sidebar">
				<ul class="nav nav-list">
					<li class="active" id="0">
						<a href="index.html">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> 总控制台 </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="" id="1">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text"> UI &amp; 元素 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="" id="11">
								<a href="/sys/roleListView">
									<i class="menu-icon fa fa-caret-right"></i>
									排版
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>
				</ul><!-- /.nav-list -->

				<!-- #section:basics/sidebar.layout.minimize -->
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>

	</div>   
	<script type="text/javascript">
</script> 
</body>
</html>