<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
			<!-- #section:basics/sidebar -->
			<div id="sidebar" class="sidebar responsive"  th:fragment="sidebar">
				<ul class="nav nav-list" id="menuItem">
					<li class="active" id="0">
						<a href="/index">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> 首页 </span>
						</a>

						<b class="arrow"></b>
					</li>
				</ul><!-- /.nav-list -->
				<!-- #section:basics/sidebar.layout.minimize -->
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>

	</div>   
</body>
</html>