<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.yh.st.base.mapper.UserinfoMapper">

	<sql id="whereUserinfo">
		<where>
			<if test="username!=null">
				and username like #{username}
			</if>
			<if test="sex!=null">
				and sex=#{sex}
			</if>
			<if test="state!=null">
				and state=#{state}
			</if>
			<if test="endTime!=null">
	        	<![CDATA[
	        		and create_time<=#{endTime}
	        	]]>
	        </if>	
	        <if test="startTime!=null">
	        	<![CDATA[
	        		and create_time>=#{startTime}
	        	]]>
	        </if>
		</where>
	</sql>
	<select id="findUserinfoByParams" resultType="com.yh.st.base.domain.Userinfo">
		select * from userinfo <include refid="whereUserinfo"/>
	</select>
	<select id="findUserinfoByName" resultType="com.yh.st.base.domain.Userinfo">
		select * from userinfo where username=#{username}
	</select>
	
</mapper>
