<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
<script th:src="@{/js/page.js}"></script>
</head>
<body>
	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content" layout:fragment="content" seq="13">
		<!-- /section:settings.box -->
		<div class="page-content-area visible widget-box" id="pageList">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<form id="searchForm" action="#">
								<div class="table-header">部门列表</div>
								<div class="row">
									<div class="form-group col-sm-2">
										<input type="text" name="username" class="form-control"  placeholder="输入用户名"/>
									</div>
									<a class="btn btn-default" onclick="query()">查询</a>
									<a class="btn btn-success" href="#" data-target="#add">
									<i class="fa fa-plus"></i>&nbsp;新增</a> 
								</div>
							</form>
							<div class="table-responsive">
								<table id="sample-table-2"
									class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th class="center">序号<!-- <label class="position-relative">
													<input type="checkbox" class="ace" /> <span class="lbl"></span>
											</label> --></th>
											<th>部门名称</th>
											<th>上级ID</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id="myData">
									</tbody>
								</table>
							</div>
							<div align="right">
								<ul id="myPage" class="pagination">
								</ul>
							</div>
						</div>
					</div>

					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		
		
		
		<div class="page-content-area" style="display:none" id="add">

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form" id="form1">
									<!-- #section:elements.form -->
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户名：</label>

										<div class="col-sm-9">
											<input type="text" id="form-field-1" placeholder="用户名" class="col-xs-10 col-sm-5" />
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> 真实姓名： </label>

										<div class="col-sm-9">
											<input type="text" id="form-field-1-1" placeholder="真实姓名" class=" col-xs-10 col-sm-5" />
										</div>
									</div>

									<!-- /section:elements.form -->
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2">密码： </label>

										<div class="col-sm-9">
											<input type="password" id="form-field-2" placeholder="密码" class="col-xs-10 col-sm-5" />
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">部门： </label>

										<div class="col-sm-9">
											<input readonly="" type="text" class="col-xs-10 col-sm-5" id="form-input-readonly" value="这里是只读表单，不允许你修改，哇咔咔！" />
										</div>
									</div>


									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">邮箱：</label>

										<div class="col-sm-9">
											<div class="inline">
												<input type="text" name="tags" id="form-field-tags" value="我是标签一" placeholder="这里输入标签，然后按确认 ..." />
											</div>

											<!-- /section:plugins/input.tag-input -->
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">角色：</label>
										<div class="col-sm-2">
											<div class="pos-rel">
												<select class="form-control" id="form-field-select-1">
																<option value="">请选择状态</option>
																<option value="AL">未提交</option>
																<option value="AK">已提交</option>
																<option value="AZ">待审核</option>
																<option value="AR">审核通过</option>
															</select>
											</div>
										</div>
									</div>


									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="button">
												<i class="ace-icon fa fa-check bigger-110"></i>
												立即提交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset" onclick="show()">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												返回
											</button>
										</div>
									</div>
								</form>
							</div><!-- /.col -->
						</div><!-- /.row -->
		</div><!-- /.page-content-area -->
		<!-- /.page-content-area -->
		<!-- /.page-content-area -->
		<!-- /.page-content -->
		<script id="orderTemplate" type="text/x-handlebars-template">
	{{#each this}}
		<tr id="{{id}}">
		<td class="center">{{id}}</td>
        <td>{{name}}</td>
        <td>{{parentId}}</td>
        <td>查看</td>
		</tr>
	{{/each}}
	</script>
		<script type="text/javascript">
			function query(params) {
				$curs = params;
				window.location.hash = JSON.stringify($curs);
				$('#myPage').html('');
				$.ajax({
					type : "POST",
					url : '/dept/listData',
					data : params,
					dataType : 'json',
					success : function(data) {
						$('#myData').empty();
						var template = Handlebars.compile($("#orderTemplate")
								.html());
						var $tr = template(data.data.list);
						$('#myData').append($tr);
						pagePlugin('myPage', data.data.pages,
								data.data.pageNum, data.data.total, jumpPage);
					}
				});
			}
		</script>
		<script type="text/javascript">
			jQuery(function($) {
			 $(document).on('click', 'a[data-target]', function(e) {
				var target = $(this).data('target');
				$('.widget-box.visible').css('display','none');
				$(target).css('display','block'); 
			 });
			});

			function show(){
				$("#pageList").css('display','block');
				$("#add").css('display','none');
			}
		</script>
		
	</div>
</body>
</html>