<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
<script th:src="@{/js/page.js}"></script>
</head>
<body>
	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content" layout:fragment="content" seq="11">
		<!-- /section:settings.box -->
		<div class="page-content-area">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<form id="searchForm" action="#">
								<div class="table-header">差旅单管理</div>
								<table width="100%" class="CSSearchTbl" cellpadding="0"
									cellspacing="0">
									<tr>
										<td class="left">提交人姓名：</td>
										<td class="right"><input type="text" size="16" /></td>
										<td class="left">差旅单创建时间：</td>
										<td class="right"><input type="text" size="16"
											class="datePicker" /> 至 <input type="text" size="16"
											class="datePicker" /></td>
										<td class="left">差旅时间范围：</td>
										<td class="right"><input type="text" size="16"
											class="datePicker" /> 至 <input type="text" size="16"
											class="datePicker" /></td>
										<td class="right" colspan="2"><span
											class="btn btn-primary pull-left col-sm-12 tbl-search"
											onclick="startQuery()"> 开始搜索 <i
												class="ace-icon fa fa-search"></i>
										</span></td>
									</tr>
								</table>
							</form>
							<div class="table-responsive">
								<table id="sample-table-2"
									class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th class="center">序号<!-- <label class="position-relative">
													<input type="checkbox" class="ace" /> <span class="lbl"></span>
											</label> --></th>
											<th>用户名</th>
											<th>真实名</th>
											<th>性别</th>
											<th>出生日期</th>
											<th>类型</th>
											<th>状态</th>
											<th>创建日期</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id="myData">
									</tbody>
								</table>
							</div>
							<div align="right">
								<ul id="myPage" class="pagination">
								</ul>
							</div>
						</div>
					</div>

					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content-area -->
		<!-- /.page-content-area -->
		<!-- /.page-content -->
		<script id="orderTemplate" type="text/x-handlebars-template">
	{{#each this}}
		<tr id="{{id}}">
		<td class="center">{{id}}</td>
        <td>{{username}}</td>
        <td>{{realname}}</td>
        <td>{{sexCN}}</td>
        <td>{{born}}</td>
        <td>{{type}}</td>
        <td>{{stateCN}}</td>
        <td>{{createTime}}</td>
        <td>查看</td>
		</tr>
	{{/each}}
	</script>
		<script type="text/javascript">
			function query(params) {
				$curs = params;
				window.location.hash = JSON.stringify($curs);
				$('#myPage').html('');
				$.ajax({
					type : "POST",
					url : '/user/userListData',
					data : params,
					dataType : 'json',
					success : function(data) {
						$('#myData').empty();
						var template = Handlebars.compile($("#orderTemplate")
								.html());
						var $tr = template(data.data.list);
						$('#myData').append($tr);
						pagePlugin('myPage', data.data.pages,
								data.data.pageNum, data.data.total, jumpPage);
					}
				});
			}
		</script>
	</div>
</body>
</html>