<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
</head>
<body>
	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content" layout:fragment="content" seq="22">
	
		<!-- /section:settings.box -->
		<div class="page-content-area">

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="row">
								<div id="home" class="tab-pane fade in active">
										<ol>
											<li>[普通]南航开通华中首条直达美国航线(2014-12-16)</li>
											<li class="text-primary">[重点]人命关天 南航空地联动紧急备降(2014-12-15)</li>
											<li class="text-danger">[危险]南航11月开通广州－济州直飞航线(2014-11-05)</li>

											<li class="text-success">[成功]以健康名义去旅行(2014-11-19)</li>
											<li class="text-warning">[警告]航展首日：南航宣布加大北美市场投入(2014-11-13)</li>
											<li class="text-muted">[安静]南航A380双层展台亮相珠海航展(2014-11-12)</li>
										</ol>
									</div>

					</div>
					<!-- /.row -->

					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content-area -->
	</div>
</body>
</html>