<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content" layout:fragment="content" seq="23">
	             <div class="page-header" style="text-align: right">
				         <a href="/work/wordUpload">上传文件</a>
				 </div><!-- /.page-header -->
		<!-- /section:settings.box -->
					<div class="page-content-area">
						<div class="row">
							<div class="col-xs-12">
								<div id="user-profile-2" class="user-profile">
										<div class="tabbable">
											<div class="tab-content no-border padding-24">
											
												<div id="pictures" class="tab-pane in active">
													<ul class="ace-thumbnails" th:each="fi : ${listFile}">
														<li>
															<a href="#" data-rel="colorbox">
																<img alt="150x150" src="/images/timg.jpg" />
																<div class="text">
																	<div class="inner" th:text="${fi.name}"></div>
																</div>
															</a>

															<div class="tools tools-bottom">
																<a href="#">
																	<i class="icon-paper-clip"></i>
																</a>

															</div>
														</li>
													</ul>
												</div><!-- /#pictures -->
											</div>
										</div>
									</div>
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content-area -->
</div>
</body>
</html>