<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content" layout:fragment="content" seq="0">

		<div id="home" class="tab-pane fade in active">
			<ul th:each="news:${newList}">
				<li class="text-primary"><a th:href="${news.url}" target="_blank"><span  th:text="${news.title}"></span> </a></li>
			</ul>
		</div>
	</div>    
</body>
</html>